{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Marketplace listing</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      {% include '_sidebar.html' %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Data Listing</h1>
            <ol class="breadcrumb">
              <li><a href="{% url "home" %}"><i class="icon-home"></i> Dashboard</a></li>
              <li><a href="{% url "listings" %}"><i class="icon-th-list"></i> Data Listings</a></li>
              <li class="active">Detail</li>
            </ol>
            {% if message %}
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
            {% endif %}
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-8">
            <h2>
              Linked user interests{{ listing.title }}
              <div><small>
                Data listed December 2, 2013{{ listing.for_sale_date }}
                by <a href="{{ listing.seller.website }}">Company Name{{ listing.seller.name }}</a>
              </small></div>
            </h2>

            <h3>Data Description</h3>
            <p class="well">
              {{ listing.description }}User interests keyed off common interests with other users
            </p>

            <h3><small>
              <i class="icon-download"></i> 53.1GB JSON
            </small></h3>

          </div>

          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Purchase this data</h3>
              </div>
              <div class="form-group panel-body">
                Please use the button below to contact the seller and negotiate a price.
              </div>

              <div class="form-group panel-body">
                <input type="button" value="Contact Seller" class="btn btn-primary" />
              </div>
            </div>

          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>