{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Listing</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      {% include '_sidebar.html' %}

      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Data Listings <small>available for purchase</small></h1>
            <ol class="breadcrumb">
              <li><a href="{% url "home" %}"><i class="icon-home"></i> Dashboard</a></li>
              <li class="active"><i class="icon-th-list"></i> Data Listings</li>
            </ol>
            {% if message %}
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Notice message
            </div>
            {% endif %}
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-hover tablesorter">
                <thead>
                  <tr>
                    <th></th>
                    <th>Distributor <i class="icon-sort"></i></th>
                    <th>Size <i class="icon-sort"></i></th>
                    <th>Description <i class="icon-sort"></i></th>
                    <th>Category <i class="icon-sort"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {% if listings %}
                    {% for item in listings %}
                      <a href="#">
                      <tr>
                        <td></td>
                        <td>{{ item.seller }}</td>
                        <td>{{ item.data_size }}</td>
                        <td>
                          <div><strong>
                            <a href="/listing/{{ item.id }}">
                              {{ item.title }}
                            </a>
                          </strong></div>
                          {{ item.description }}
                        </td>
                        <td>{{ item.category }}</td>
                      </tr>
                      </a>
                    {% endfor %}
                  {% else %}
                    <!-- Dummy data for now -->
                    <tr>
                      <td></td>
                      <td>Company Name</td>
                      <td>125MB</td>
                      <td>
                        <div><strong>
                          <a href="/listing/1">
                            This is a title
                          </a>
                        </strong></div>
                        Visitor browser data
                      </td>
                      <td>Analytics</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Company Name</td>
                      <td>2.1TB</td>
                      <td>
                        <div><strong>
                          <a href="/listing/1">
                            This is a title
                          </a>
                        </strong></div>
                        Click-through rates on dog ads
                      </td>
                      <td>CTR</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Company Name</td>
                      <td>53.1GB</td>
                      <td>
                        <div><strong>
                          <a href="/listing/1">
                            Linked user interests
                          </a>
                        </strong></div>
                        User interests keyed off common interests with other users</td>
                      <td>Interests</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Company Name</td>
                      <td>12MB</td>
                      <td>
                        <div><strong>
                          <a href="/listing/1">
                            This is a title
                          </a>
                        </strong></div>
                        Geolocations of users that have opted in to cat facts</td>
                      <td>Interests</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Company Name</td>
                      <td>16MB</td>
                      <td>
                        <div><strong>
                          <a href="/listing/1">
                            This is a title
                          </a>
                        </strong></div>
                        Click-through rates on tablet ads of varying colors</td>
                      <td>CTR</td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Page Specific Plugins -->
    <script src="js/tablesorter/jquery.tablesorter.js"></script>
    <script src="js/tablesorter/tables.js"></script>
  </body>
</html>